src/META-INF/wsdl/localhost_8080/WebService/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web/" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://web/" schemaLocation="http://localhost:8080/WebService/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="saveNewCustomer">
<part name="parameters" element="tns:saveNewCustomer"/>
</message>
<message name="saveNewCustomerResponse">
<part name="parameters" element="tns:saveNewCustomerResponse"/>
</message>
<message name="saveNewCar">
<part name="parameters" element="tns:saveNewCar"/>
</message>
<message name="saveNewCarResponse">
<part name="parameters" element="tns:saveNewCarResponse"/>
</message>
<message name="saveNewContract">
<part name="parameters" element="tns:saveNewContract"/>
</message>
<message name="saveNewContractResponse">
<part name="parameters" element="tns:saveNewContractResponse"/>
</message>
<message name="CarIsNotAvailableException">
<part name="fault" element="tns:CarIsNotAvailableException"/>
</message>
<message name="CarNotFoundException">
<part name="fault" element="tns:CarNotFoundException"/>
</message>
<message name="CostumerNotFoundException">
<part name="fault" element="tns:CostumerNotFoundException"/>
</message>
<message name="findAllCars">
<part name="parameters" element="tns:findAllCars"/>
</message>
<message name="findAllCarsResponse">
<part name="parameters" element="tns:findAllCarsResponse"/>
</message>
<message name="findContractsByCustomerId">
<part name="parameters" element="tns:findContractsByCustomerId"/>
</message>
<message name="findContractsByCustomerIdResponse">
<part name="parameters" element="tns:findContractsByCustomerIdResponse"/>
</message>
<portType name="WebService">
<operation name="saveNewCustomer">
<input wsam:Action="http://web/WebService/saveNewCustomerRequest" message="tns:saveNewCustomer"/>
<output wsam:Action="http://web/WebService/saveNewCustomerResponse" message="tns:saveNewCustomerResponse"/>
</operation>
<operation name="saveNewCar">
<input wsam:Action="http://web/WebService/saveNewCarRequest" message="tns:saveNewCar"/>
<output wsam:Action="http://web/WebService/saveNewCarResponse" message="tns:saveNewCarResponse"/>
</operation>
<operation name="saveNewContract">
<input wsam:Action="http://web/WebService/saveNewContractRequest" message="tns:saveNewContract"/>
<output wsam:Action="http://web/WebService/saveNewContractResponse" message="tns:saveNewContractResponse"/>
<fault message="tns:CarIsNotAvailableException" name="CarIsNotAvailableException" wsam:Action="http://web/WebService/saveNewContract/Fault/CarIsNotAvailableException"/>
<fault message="tns:CarNotFoundException" name="CarNotFoundException" wsam:Action="http://web/WebService/saveNewContract/Fault/CarNotFoundException"/>
<fault message="tns:CostumerNotFoundException" name="CostumerNotFoundException" wsam:Action="http://web/WebService/saveNewContract/Fault/CostumerNotFoundException"/>
</operation>
<operation name="findAllCars">
<input wsam:Action="http://web/WebService/findAllCarsRequest" message="tns:findAllCars"/>
<output wsam:Action="http://web/WebService/findAllCarsResponse" message="tns:findAllCarsResponse"/>
</operation>
<operation name="findContractsByCustomerId">
<input wsam:Action="http://web/WebService/findContractsByCustomerIdRequest" message="tns:findContractsByCustomerId"/>
<output wsam:Action="http://web/WebService/findContractsByCustomerIdResponse" message="tns:findContractsByCustomerIdResponse"/>
</operation>
</portType>
<binding name="WebServicePortBinding" type="tns:WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveNewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewContract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarIsNotAvailableException">
<soap:fault name="CarIsNotAvailableException" use="literal"/>
</fault>
<fault name="CarNotFoundException">
<soap:fault name="CarNotFoundException" use="literal"/>
</fault>
<fault name="CostumerNotFoundException">
<soap:fault name="CostumerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findAllCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findContractsByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService">
<port name="WebServicePort" binding="tns:WebServicePortBinding">
<soap:address location="http://localhost:8080/WebService/WebService"/>
</port>
</service>
</definitions>